{% set canExport = currentUser.can("variant-manager:export") %}
<div class="meta">
	<div class="field">
		<button
			type="button"
			{% if not canExport %}disabled{% endif %}
			class="btn download icon {% if not canExport %}disabled{% endif %}"
			data-icon="download" id="{{ id }}-btn">
			{{ 'Export Product'|t }}
		</button>
	</div>
</div>

<script type="text/javascript">
	{% if canExport %}
	function exportFile(event) {
		fetch('/admin/variant-manager/export?ids={{ product.id }}&download=true&format=csv', {
			headers: {
				'X-CSRF-Token': '{{ craft.app.request.csrfToken }}',
				'X-Requested-With': 'XMLHttpRequest',
			},
		}).then((response) => {
			return response.blob().then((result) => {
				let link = document.createElement("a");
				// Note that we slice the download name because the split includes quotations which are converted to underscores
				// when the download is initiated otherwise.
				link.href = window.URL.createObjectURL(result);
				link.download = response.headers.get('content-disposition').split('filename=')[1].split(';')[0].slice(1, -1);
				link.click();
			})
		});
	}

	document.getElementById('{{ namespacedId }}-btn').addEventListener('click', exportFile);
	{% endif %}
</script>

