{% set product = craft.products().id(30) %}

<h1>All options:</h1>
<div>
	{% set attributeOptions = craft.variantManager.getAttributeOptions(product.id) %}
	{% for item in attributeOptions %}
		{% set itemIndex = loop.index %}
		<h2>{{ item.name }}</h2>
		{% for value in item.values %}
			<label>
				<input type="radio" name="{{ itemIndex }}_option" value="{{ value }}"/>
				<span>{{ value }}</span>
			</label>
		{% endfor %}
	{% endfor %}
</div>

<h1>Specific option:</h1>
<div>
	{% set attributeOptions = craft.variantManager.getAttributeOptions(product.id, "Option A") %}
	{% for item in attributeOptions %}
		{% set itemIndex = loop.index %}
		<h2>{{ item.name }}</h2>
		{% for value in item.values %}
			<label>
				<input type="radio" name="{{ itemIndex }}_option" value="{{ value }}"/>
				<span>{{ value }}</span>
			</label>
		{% endfor %}
	{% endfor %}
</div>

